.nav {
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3rem;
    box-sizing: border-box;
    background-color: azure;
}
